{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Shubha Pradhan</title>

    <!--  -->
    <link rel="shortcut icon" href="assets/images/favicon.png">


    <!-- MAIN CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'welcome/main.css' %}">
    <!-- ANIMATE -->
    <link rel="stylesheet" href="{% static 'welcome/vendor/css/aos.css' %}">
    <!-- BOOTSTRAPS -->
    <link rel="stylesheet" type="text/css" href="{% static 'welcome/vendor/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'welcome/vendor/css/bootstrap.min.css' %}">

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />


    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body onload="loadfunc()">
    <div class="loader"><img src="{% static 'welcome/images/loader.gif' %}" alt=""></div>
    <!-- HEADER -->
    <header id="home">

        <nav class="navbar navbar-expand-sm">
            <a class="navbar-brand" href="{% url 'portfolio-home' %}" data-aos="fade-right"><span>S</span>hubha</a>
            <li class="nav-toggle" data-aos="fade-left">
                <button class="open-nav nav-toggler d-sm-none d-flex" type="button">
                    <span><i class="fas fa-bars"></i></span>
                </button>
            </li>

            <div class="navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-lg-flex d-none" data-aos="fade-up">
                    <li>
                        <a
                            href="https://www.google.com/maps/place/Ghumti/@27.7665134,85.3517318,17z/data=!3m1!4b1!4m5!3m4!1s0x39eb1ea7ea91c439:0xebe220255c9e502d!8m2!3d27.7665134!4d85.3539205">
                            <span> <i class="fas fa-map-marker-alt"></i></span>
                            <span>ADDRESS</span>
                            <p>Budanilkantha, Kathmandu</p>
                        </a>
                    </li>
                    <li>
                        <a href="tel: +977 9862259363">
                            <span><i class="fas fa-phone-alt"></i></span>
                            <span>CALL ME</span>
                            <p>+977 9862259363</p>
                        </a>
                    </li>

                </ul>
                <li class="nav-toggle" data-aos="fade-left">
                    <button class=" open-nav nav-toggler d-sm-flex d-none" type="button">
                        <span><i class="fas fa-bars"></i></span>
                    </button>
                </li>
            </div>
        </nav>
    </header>
    <div class="navigate">
        <div class="close-nav">
            <button><i class="fas fa-times"></i></button>
        </div>
        <div class="wrapper">
            <div class="nav-list">
                <li class="navitem">
                    <a href="#home">HOME</a>
                </li>
                <li class="navitem">
                    <a href="#about">ABOUT</a>
                </li>
                <li class="navitem">
                    <a href="#resume">RESUME</a>
                </li>
                <li class="navitem">
                    <a href="#project">PROJECTS</a>
                </li>
                <li class="navitem">
                    <a href="#contact">CONTACT</a>
                </li>
            </div>
            <div class="social-medias">
                <li>
                    <a href="https://www.facebook.com/shubha.pradhan.58/">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/shubha_pradhan/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/pradhan_shubha">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/ShubhaPradhan">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </div>
        </div>
    </div>
    <!-- END OF HEADER -->


    {% block content %}{% endblock %}

    <!-- CONTACTS -->

    <section id="contact" class="contacts">
        <div class="newsletter text-center">
            <div class="contain" data-aos="fade-up">
                <h1>Stay tuned with updates</h1>
                <div class="input-group col-xl-4 col-lg-6 col-md-6 col-12 mx-auto mt-4">
                    <input type="text" class="form-control text-muted col-12" placeholder="Enter Your Email">
                    <div class="input-group-append d-md-flex d-none" id="button-addon4">
                        <button class="btn" type="button">SUBMIT</button>
                    </div>
                </div>
                <div class="text-center d-md-none d-block mt-3">
                    <button class="btn" type="button">SUBMIT</button>
                </div>
            </div>
        </div>
        <div class="contact ">
            <div class="row mx-0 px-0">
                <div class="col-md-6 col-12 contact-info" data-aos="fade-right">
                    <h1 class="headings-1">Contacts</h1>
                    <div class="info">
                        <li>
                            <a
                                href="https://www.google.com/maps/place/Ghumti/@27.7665134,85.3517318,17z/data=!3m1!4b1!4m5!3m4!1s0x39eb1ea7ea91c439:0xebe220255c9e502d!8m2!3d27.7665134!4d85.3539205">
                                <p class="title"><i class="fas fa-map-marker-alt mr-2"></i>ADDRESS</p>
                                <p class="">Budanilkantha, Kathmandu</p>
                            </a>
                        </li>
                        <li>
                            <a href="tel: +977 9862259363">
                                <p class="title"><i class="fas fa-phone-alt mr-2"></i>PHONE</p>
                                <p class="phone">+977 9862259363</p>
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://mail.google.com/mail/?view=cm&fs=1&to=shubhadon7@gmail.com&su=SUBJECT&body=BODY">
                                <p class=" title"><i class="fas fa-at mr-2"></i>E-MAIL</p>
                                <p class="">shubhadon7@gmail.com</p>
                            </a>
                        </li>
                    </div>
                </div>
                <div class="col-md-6 col-12 map-info px-0" data-aos="fade-left">
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3530.4043244801373!2d85.35173181501669!3d27.766513382767442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1ea7ea91c439%3A0xebe220255c9e502d!2sGhumti!5e0!3m2!1sen!2snp!4v1621683513048!5m2!1sen!2snp"
                            allowfullscreen="" loading="lazy" class="img-fluid"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <footer>
        <div class="footer">
            <a class="navbar-brand" href="#home"><span>S</span>hubha</a>
            <div class=" copyrights">
                <p class="mb-0">Shubha &copy; 2021 All Rights Reserved</p>
            </div>

            <div class="social-media">

                <a href="https://www.facebook.com/shubha.pradhan.58/" class="navs-link">
                    <li class="social"><i class="fab fa-facebook-f"></i></li>
                </a>
                <a href="https://www.instagram.com/shubha_pradhan/" class="navs-link">
                    <li class="social"><i class="fab fa-instagram"></i></li>
                </a>
                <a href="https://twitter.com/pradhan_shubha" class="navs-link">
                    <li class="social"><i class="fab fa-twitter"></i></li>
                </a>
                <a href="https://github.com/ShubhaPradhan" class=" navs-link">
                    <li class="social"><i class="fab fa-github"></i></li>
                </a>
            </div>
        </div>
    </footer>

    <!-- END FOOTER -->

    <!-- Script Source Files -->
    <script src="{% static 'welcome/vendor/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'welcome/main.js' %}"></script>
    <script src="{% static 'welcome/vendor/js/aos.js' %}"></script>
    <script src="{% static 'welcome/vendor/js/jquery.waypoints.js' %}"></script>
    <script src="{% static 'welcome/vendor/js/jquery.counterup.js' %}"></script>
    <script src="{% static 'welcome/vendor/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'welcome/vendor/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'welcome/vendor/js/popper.min.js' %}"></script>


</body>

</html>